* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 128, 128, 0.6), rgba(0, 0, 128, 0.6)),
        url("https://images.unsplash.com/photo-1508780709619-79562169bc64") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form-container,
.todo-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.85);
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
}

button:hover {
    transform: scale(1.05);
}

.error {
    color: #ffdede;
    text-align: center;
}


.todo-input {
    display: flex;
    gap: 10px;
}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background: rgba(255,255,255,0.9);
    color: black;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-text {
    flex: 1;
    word-break: break-word;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-actions {
    display: flex;
    gap: 6px;
    margin-left: 10px;
}

.edit-btn {
    background:teal;
}

.delete-btn {
    background: red;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
